{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Dwolla Test page{% endblock %}


{% block content %}

 <h1>Payment Test Page</h1>
{%if success%}
 <h1>Successfully Paid</h1>
{%endif%}



<div class="appForm">
<form method="post" id="paypal_test" class="paypal_test" action="/payment/dwolla-test/">
{% csrf_token %}

<div>Email: <input type="text" name="email" id="email" value="" style="width:300px" /></div>
<div>Amount: $<input type="text" name="amount" id="amount" value="" /></div>

<button type="submit" class="btn btn-default"/>Submit</button>
</form>
</div>

{%endblock%}