  {% extends 'dashboard.html' %}

{% block container %}

<div class="content">
	<div class="container">

			 <div class="text-block">
              <div class="form-holder">
               {%if data.added%}<h1 style="color:green">You've successfully created your program!</h1>{%endif%}
                <!-- heading with decor -->
                <h1 class="heading-decor"><span><i class="icon-dot pink"></i><i class="icon-plus orange"></i></span>Create a Program<span><i class="icon-triangle orange"></i><i class="icon-plus blue"></i></span></h1>
                
                <!-- registry form -->
                <form action="#" class="registry-form form-validation smallCheckbox" method="POST" id="createProgramForm">
                	{%csrf_token%}
                	<input type="hidden" name="app" value="{{data.app.id}}" id="id_app">
                  <div class="form-group row align-items-md-center justify-content-md-end">
                    <label for="programName" class="col-md-4 col-form-label">Program Name
                    <div class="tooltipp"><img src="/static/img/info_icon.jpg">
                      <span class="tooltiptext">Why do we need an app name? Please enter the name of your app so we can identify you.</span>
                    </div> </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Program Name" data-required="true" style="{%if form.name.errors %}border-color: #9e0b0f{%endif%}" {%if data.form.name %}value="{{data.form.name.value|default_if_none:'' | escape}}" {%endif%}>
                    </div>
                    
                  </div>
                  

                  <div class="form-group row align-items-md-center justify-content-md-end">
                    <label for="program" class="col-md-4 col-form-label">Program Description
                     </label>
                    <div class="col-md-8">
                      <input type="textarea" class="form-control" id="description" name="description" placeholder="Program Description" data-required="true" style="{%if form.description.errors %}border-color: #9e0b0f{%endif%}" {%if data.description %}value="{{data.description|default_if_none:'' | escape}}" {%endif%}>
                    </div>
                    
                  </div>



                  <!--
                  <div class="form-group row align-items-md-center justify-content-md-end">
                    
                    <label for="css_url" class="col-md-4 col-form-label">CSS URL</label>
                    <div class="col-md-8">
                      <input type="text"  class="form-control" id="css_url" name="css_url" placeholder="Custom CSS Url"  {%if form.css_url.errors %}value="{{form.css_url.value | escape}}" {%else%}value="{{data.program.css_url}}"{%endif%} style="{%if form.css_url.errors %}border-color: #9e0b0f{%endif%}">
                    </div>
                   
                    <span class="col-md-8 error-message">Please enter Custom CSS Url</span>
                  </div>

                -->
                  <!--
                  <div class="form-group row align-items-md-center justify-content-md-end">
                    <label for="id_budget" class="col-md-4 col-form-label">Budget</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="id_budget" name="budget" data-required="true">
                    </div>
                    <span class="col-md-8 error-message">Please enter a budget</span>
                  </div>
                -->

<!--
                   <div class="form-group row align-items-md-center justify-content-md-end">
                    
                    <label for="Is Active" class="col-md-4 col-form-label">Is Active</label>
                    <div class="col-md-8">
                      <input type="checkbox"  class="form-control" id="isActive" name="isActive" {%if data.program.isActive%}checked=True{%endif%}>
                    </div>
                 </div> 

                 --> 
                 <input type="hidden" name="trackType" id="trackType">
                 <div style="clear:both"></div>
                 <div style="margin-top: 30px">
          <ul class="process-list" >
              <li>
                <input type="radio" name="editList" id="CPA" value="CPA" {%if data.cType == 'CPA' or not data.cType%}checked {%endif%}/>
                          <label for="never"><h3>CPA</h3></label>
                
                <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Suspendisse arcu aliquam, venenatis sapien.</p>
               
              </li>
              <li>
               
                <input type="radio" name="editList" id="CPC" value="CPC" {%if data.cType == 'CPC'%}checked {%endif%}/>
                          <label for="never"><h3>CPC</h3></label>
                <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Suspendisse arcu aliquam, venenatis sapien.</p>
                
              </li>
              <li>
                
                <input type="radio" name="editList" id="CPM" value="CPM" {%if data.cType == 'CPM'%}checked {%endif%}/>
                          <label for="never"><h3>CPM</h3></label>
                <p>Lorem ipsum dolor sit amet, consect adipiscing elit. Suspendisse arcu aliquam, venenatis sapien.</p>
                
              </li>
            </ul>

            <button type="submit"  class="btn btn-primary" onclick="next('cpm')">Next</button>
          </div>


              <!--
                  <div class="form-group row align-items-md-center justify-content-md-end">
                    
                    <label for="CPA" class="col-md-4 col-form-label">CPA</label>
                    <div class="col-md-8">
                      <input type="checkbox"  class="form-control" id="CPA" name="CPA">
                    </div>
                 </div>  

                 <div class="form-group row align-items-md-center justify-content-md-end">
                    
                    <label for="CPM" class="col-md-4 col-form-label">CPM</label>
                    <div class="col-md-8">
                      <input type="checkbox"  class="form-control" id="CPM" name="CPM" >
                    </div>
                 </div> 


                 <div class="form-group row align-items-md-center justify-content-md-end">
                    
                    <label for="CPC" class="col-md-4 col-form-label">CPC</label>
                    <div class="col-md-8">
                      <input type="checkbox"  class="form-control" id="CPC" name="CPC" >
                    </div>
                 </div> 

               

                 <button type="submit"  class="btn btn-primary">Create</button>-->
                  
                </form>
            </div>
          </div>
		  </div>
	</div>


<style>
/* Tooltip container */
.tooltipp {

    position: relative;
    display: inline-block;
    width:15px;

  }

  .tooltipp img{
    padding-bottom: 8px;
  }

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 1rem;

 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipp:hover .tooltiptext {
  visibility: visible;
}


.registry-form .btn {
    min-width: 7.25rem;
}
</style>

{%endblock%}

{%block scripts%}

<script type="text/javascript">
	
$("#createProgramLink").addClass("active")


function next(cType){

console.log("next: " + cType)
$("#trackType").val(cType)
$("#createProgramForm").submit()
return false;

}

	

</script>

{%endblock%}