{% extends 'dashboard.html' %}

{% block container %}
<div class="content">
	<div class="container">
		<div class="text-block">

              <div class="form-holder">
               <h3 style="color:green; display: none" id="successMsg">Your changes have been saved.</h3>
               <h3 style="color: #9e0b0f; display: none; margin-bottom: 10px;" id="errorMsg">Your confirmation password does not match.</h3>
                <!-- heading with decor -->
                <h1 class="heading-decor"><span><i class="icon-dot pink"></i><i class="icon-plus orange"></i></span>Edit Password<span><i class="icon-triangle orange"></i><i class="icon-plus blue"></i></span></h1>
				
				<div class="form-holder">
                	<form action="/dashboard/edit-password/" class="registry-form form-validation smallCheckbox" method="POST" id="editPasswordForm">
					
                	 <div class="form-group row align-items-md-center justify-content-md-end">
                    <label for="current_password" class="col-md-4 col-form-label">Current Password</label>
                    <div class="col-md-8">
                      <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Current Password" data-required="true" style="{%if form.current_password.errors %}border-color: #9e0b0f{%endif%}" >
                    </div>
                    
                  </div>

                   <div class="form-group row align-items-md-center justify-content-md-end">
                    <label for="new_password" class="col-md-4 col-form-label">New Password</label>
                    <div class="col-md-8">
                      <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" data-required="true" style="{%if form.new_password.errors %}border-color: #9e0b0f{%endif%}" >
                    </div>
                    
                  </div>

                   <div class="form-group row align-items-md-center justify-content-md-end">
                    <label for="confirm" class="col-md-4 col-form-label">Confirm New Password</label>
                    <div class="col-md-8">
                      <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm New Password" data-required="true" style="{%if form.name.errors %}border-color: #9e0b0f{%endif%}">
                    </div>
                    
                  </div>
                  <div style="color: #9e0b0f; display: none; margin-bottom: 10px;" id="matchMsg">Your confirmation password does not match.</div>

                  <button onclick="submitPassword(); return false;" class="btn btn-primary">Save</button>

                	</form>
            </div>

            </div>
        </div>
    </div>
</div>
{%endblock%}


{%block scripts%}

<script type="text/javascript">
	
$("#settingsLink").addClass("active")


function submitPassword(){
		//do they match?

	$("#matchMsg").hide()
	$("#successMsg").hide()
	$("#errorMsg").hide()


	if ($("#confirm").val() == $("#new_password").val())
	{
		$("#new_password").removeClass("errorInput")
		$("#confirm").removeClass("errorInput")
		

		var csrftoken = getCookie('csrftoken');
		ajaxSetup(csrftoken);
		

		$.post( "/dashboard/edit-password/", $("#editPasswordForm").serialize(), 	function( data ) { 
			
		  if (data.success){
		  	
		  	$("#successMsg").show()
		  	
		  }
		  else{
		  	$("#errorMsg").show()
		  }  

		  return false;
		  
		}); 
	}
	else{
		$("#new_password").addClass("errorInput")
		$("#confirm").addClass("errorInput")
		$("#matchMsg").show()


	}
	return false;


}

	

</script>

{%endblock%}