<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Appevate</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
	
	<link media="all" id="css_link" rel="stylesheet" href="/static/css/webframe-main.css"  >
	


	{%ifequal data.style "1" %}
	<link media="all" id="css_link" rel="stylesheet" href="/static/css/webframe-apple.css"  >
	
	{%endifequal	%}
	{%ifequal data.style "2" %}
	<link media="all" id="css_link" rel="stylesheet" href="/static/css/webframe-red.css"  >
	{%endifequal	%}

	

	<script src="https://d3js.org/d3.v4.min.js" ></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="/static/js/jquery.main-webframe.js" defer></script>

	<script type="text/javascript">
	

	function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }



    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function ajaxSetup(csrftoken){
      
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
    }
</script>

</head>
<body>
	<div id="wrapper">
		<div class="w1">
			{%block header%}
			<header id="header">
				<div class="nav-holder">
					<ul id="nav">
						<li class="prev"><a href="#">Back<i class="icon-arrow-right"></i></a></li>
						<li><a href="#" id="settings">Settings</a></li>
						<li class="active"><a href="#">Rewards</a></li>
						<li><a href="#" id="redeem">Redeem</a></li>
						<li class="next"><a href="#"><i class="icon-arrow-left"></i>Back</a></li>
					</ul>
				</div>
			</header>
			{%endblock%}
			{%block content%}
			
			{%endblock%}
		</div>
		<footer id="footer">
			<div class="container">
				<span class="by">Powered by <a href="#"><img src="/static/images/logo.svg" width="50" alt="Appevate"></a></span>
			</div>
		</footer>
	</div>
</body>
</html>
