{% load offer_filters %}

{% block content %}


{%if data.mData%}

	{%for items in data.mData%}

	<div style="font-weight: bold">{{items.header}}:</div><br>
	<table>
	
		{%for payout in items.payouts%}
			{% ifequal forloop.counter0|modulo:6 0 %}
			<tr >
			{%endifequal%}
			<td style="padding-right:10px;">
			<div>Id: {{payout.id}}</div>
			<div>Platform: {{payout.platform}}</div>
			<div>Program: {{payout.account.program}}</div>
			<div>Amount: {{payout.amount}}</div>
			<div>See <a href="">ledger itmes</a> &nbsp;</div>
			<div>&nbsp;</div>
			</td>
			{% ifequal forloop.counter0|modulo:6 5 %}
			</tr>
			{%endifequal%}
		{%endfor%}
	
	</table>
	{%endfor%}
{%else%}

	{%for payout in data.payouts%}
			{% ifequal forloop.counter0|modulo:4 0 %}
			<tr >
			{%endifequal%}
			<td style="padding-right:10px;">
			<div>Id: {{payout.id}}</div>
			<div>Platform: {{payout.platform}}</div>
			<div>Program: {{payout.account.program}}</div>
			<div>Amount: {{payout.amount}}</div>
			<div>See <a href="">ledger itmes</a> &nbsp;</div>
			<div>&nbsp;</div>
			</td>
			{% ifequal forloop.counter0|modulo:4 3 %}
			</tr>
			{%endifequal%}
		{%endfor%}

{%endif%}


{%if not data.payouts and not data.mData%}
<div>There are no payouts for this search.</div>

{%endif%}






{%endblock%}