{% extends "admin/baseAdmin.html" %}

{%block content%}

<h1>Unit tests:</h1>

<div>
<h2>Run all tests:</h2>
<button style="margin:10px 0px;">Run</button>
</div>

<div>Run Action Type tests: <button style="margin:10px 0px;" onclick="runTest('action_type')">Run</button></div>

<h2>Results:</h2>
<div id="results" style="color:red; font-size:16px;"></div>


<script type="text/javascript">
	function runTest(testType){


		var csrftoken = getCookie('csrftoken');
		ajaxSetup(csrftoken);

		$.post( "/custom_admin/run-test/", {"testType":testType}, function( data ) { 
		  console.log(data)
		  $("#results").text(data)
		}); 
		
		return false;
	}



</script>

{%endblock%}